body{
  text-align: center;
  position: relative;
}

h1{
  color: blue;
}


.overlay{
  background-color: rgba(152, 165, 263,0.3);
  position: absolute;
  z-index: 1;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.before-pop{
  margin: 25vh auto 4vh;
  position: relative;
  visibility: visible;
}

.hide{
  visibility: hidden;
}

.after-pop{
  margin: 25vh 90vh 4vh;
  top: 50px;
  position: relative;
  border: solid;
  margin: 50px 35%;
  padding: 100px;
  border-width: thick;
  box-sizing: content-box;
  color: white;
  background-color: grey;
  border-radius: 15px;
}
