body{
  background-image: url("https://images.pexels.com/photos/2395249/pexels-photo-2395249.jpeg?cs=srgb&dl=pexels-evie-shaffer-2395249.jpg&fm=jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  color : blue;
  /* margin-top: ; */
  padding-bottom: 0rem;
}
hr{
  height: 0.5px;
  /* padding: 0px; */
}
p{
  font-size: 14px;
  text-align: left;
  /* margin: 0.5rem; */
}

.main{
  padding: 0.5rem;
}
.unable{
  padding-left: 1rem;
  margin-bottom: .1rem;
}
.datepara{
  margin-bottom: .1rem;
  font-size: 14px;
  text-align: left;
  padding-left: 1rem;
}

.all{
  /* background-color: ; */
  padding-top:  0.1%;
  text-align: center;
  margin-top: 5rem;
  margin-left: 50%;
  border-radius: 1%;
  box-shadow: 2px 2px 20px 10px lightgrey;
  height: 37rem;
  width: 30%;
}

.names{
  border-radius: 0.3rem;
  margin-bottom:  .2rem;
  width: 45%;
  height: 2rem;
  background-color: #f2f2f2;
}


.hello{
    /* padding: 1rem 0rem 1rem ; */
}
.detail{
  border-radius: 0.3rem;

  background-color: #f2f2f2;
  /* padding: 1rem ; */
  height: 2rem;
  /* padding: 1rem; */
  width: 91%;
  margin:0.2rem;
}
.dob input{
  border-radius: 0.3rem;
  height: 2rem;
  background-color: #f2f2f2;
  /* margin-left: 2rem */
  float: inline;
  display: table-cell;
  width: 30%
}

.der{
  height: 2rem;
  border-radius: 0.3rem;
  width: 30%;
  border-style: solid;
  /* padding-top: 0.1rem; */
  border-bottom: -0.1rem;
  border-width: 1.5px;
  margin-left: 0.3rem;
  background-color: #f2f2f2;
  align-items: center;
  margin-bottom: 2rem;
}

.gen{
  text-align: left;
  margin-left: 1rem;
  width: auto;
  display: flex;
}

.button-class{
   background-color: #4CAF50;
   border: none;
   text-align: center;
   font-size: 16px;
   color: white;
   display: inline-block;
   padding: 11px 30px;
   border-radius: 0.5rem;
}

.head1{
  margin-left: 4%;
  /* padding:0.1rem; */
  text-align: left

}
